{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<!-- Adding a link to the Bootstrap CSS for styling -->

<!-- Portfolio Section-->
<section class="bg-light py-5">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="text-center text-uppercase text-dark mb-5">Certbot</h2>

        <div class="mb-5">
            <p class="text-dark font-weight-bold" style="font-size: 1.2em;">
                This website has embraced the security advantages of HTTPS by leveraging Certbot
            </p>
            <li class="text-dark font-weight-bold" style="font-size: 1.2em;">
                <b class="highlight">Enhanced Security:</b> By adopting HTTPS, the website ensures encrypted communication, safeguarding user data and interactions from potential eavesdroppers.
            </li>
            <li class="text-dark font-weight-bold" style="font-size: 1.2em;">
                <b class="highlight">Trust and Credibility:</b> The presence of HTTPS, signified by the padlock icon in browsers, increases user trust in the website's authenticity and security.
            </li>
        </div>
    </div>
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="text-center text-uppercase text-dark mb-5">Tech Stack behind this website</h2>

        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <ul class="list-group text-center">
                    <a href="/stack/django"><li class="list-group-item" style="background-color: #48A774; color: black;">Django</li></a>
                    <a href="/stack/javascript_bootstrap"><li class="list-group-item" style="background-color: #F7DF1E; color: black;">JavaScript, Bootstrap</li></a>
                    <a href="/stack/docker"><li class="list-group-item" style="background-color: #2496ED; color: black;">Docker</li></a>
                </ul>
            </div>
            <div class="col-lg-4 me-auto">
                <ul class="list-group text-center">
                    <a href="/stack/mysql"><li class="list-group-item" style="background-color: #F29111; color: black;">MariaDB (MySQL)</li></a>
                    <a href="/stack/nginx"><li class="list-group-item" style="background-color: #269539; color: black;">Nginx</li></a>
                    <a href="/stack/certbot"><li class="list-group-item" style="background-color: #3488BF; color: black;">Certbot</li></a>
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    .list-group-item {
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 효과를 부드럽게 */
    }

    .list-group-item:hover {
        transform: scale(1.05); /* 약간 확대되는 효과 */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
        cursor: pointer; /* 포인터 커서 표시 */
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    /* Adjust width for larger screens */
    @media (min-width: 768px) {
        .container {
            width: 90%;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 80%;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 70%;
        }
    }

    .highlight {
    background-color: #ffff99;  /* 노란색 */
    }
</style>

{% endblock %}